<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="AP.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<link rel="shortcut icon" href="file:///C:/Users/Stalim/Downloads/favicon%20(6).ico" />
<title>Travel-Business</title>

</head>
<body>

	<nav id="bg-light" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Flights<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Hotels <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Deals <span class="sr-only">(current)</span></a>
        </li>
      </ul>


      <form class="form-inline my-2 my-lg-0">
      <!--   LOG IN SIGN UP -->
      </form>
    </div>
  </nav>

<!-- <div><h1><i class="fab fa-twitter"></i></h1></div>
<span class="icons"><i class="fab fa-instagram"></i></span> -->

<div id="mainImage" class="cf">

	<img class="bottom"  src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1500660066/travel-hacks-opener-TRAVELHACK0717.jpg?itok=HgP9J2B_" />
  <img  class="top"src="https://i1.wp.com/travelblog.expedia.com.sg/wp-content/uploads/2015/12/GettyImages-526932757.jpg?fit=1171%2C898&ssl=1">

</div>

<hr class="hr--logo">

<aside>
  <div class="jumbotron">
    <h1 class="display-4">DEALS</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
</aside>


<div id="photosdiv" >

  <img class="photos" src="https://www.travelex.com.au/media/2572/16083767_ml.jpg">
	<img class="photos"  src="https://ttc.com/wp-content/uploads/2014/08/CoreValues-2500x1250.jpg">
	<img class="photos" src="https://static1.squarespace.com/static/5813cddb8419c25c3b42eacd/5813e156414fb51499dfe55c/5860e4d99de4bb91b6add275/1537833555900/?format=1000w">
	<img class="photos" src="https://www.nassauparadiseisland.com/sites/default/files/styles/slideshow_xl/public/images/properties/hero/stay-baha-mar-grand-hyatt.jpg?itok=SqOviJtI">
	<img class="photos" src="https://www.findingtheuniverse.com/wp-content/uploads/2017/12/Eiffel2BTower2BParis2B1_by_Laurence2BNorah255B4255D.jpg">
	<img class="photos" src="https://s23627.pcdn.co/wp-content/uploads/2014/01/Murano-cover.jpg">
	<img class="photos" src="http://c2.staticflickr.com/6/5588/14991687545_5c8e1a2e86_b.jpg ">
	<img class="photos" src="http://c2.staticflickr.com/4/3888/14878097108_5997041006_b.jpg">
	<img class="photos" src="http://c2.staticflickr.com/8/7579/15482110477_0b0e9e5421_b.jpg">
  <img class="photos" src="http://c2.staticflickr.com/6/5588/14991687545_5c8e1a2e86_b.jpg ">
  <img class="photos" src="http://c2.staticflickr.com/4/3888/14878097108_5997041006_b.jpg">
  <img class="photos" src="http://c2.staticflickr.com/8/7579/15482110477_0b0e9e5421_b.jpg">
  <img class="photos" src="https://ttc.com/wp-content/uploads/2014/08/CoreValues-2500x1250.jpg">

</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
<script src="js/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>


