<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Travel Team 3</title>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="center jumbotron">
      <h1>Travel Project Contact Page</h1>
      <p>This is the Team 3 Travel project Contact Page</p>
    </div>
  </body>
</html>
