<!--
#
# This is the HTML file for the "About Us" page
#
-->

<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  	<link href="https://fonts.googleapis.com/css?family=Cormorant|Cormorant+Infant:400,600|Cormorant+Upright|Roboto" rel="stylesheet">

    <title><%= yield(:title) %> | Bochitto Travel</title>

  </head>

  <body>

    <%= render 'layouts/header' %>

    <div>
      	<%=  image_tag "logo10.png", class:"About_us_image" %>
    </div>

    <div class="container">
  <div class="row">
  <div class="column" >
    <h2 class="h2_about_us" >Why Bochitto Travel</h2>
    <p class="p_about_us">We specialize in making sure you have your dream trip met. Whether it is a cruise to the bahamas or a flight around the world, We will make sure all of your needs are met.</p>
  </div>

  <div class="column">
    <h2 class="h2_about_us" >Company History</h2>
    <p class="p_about_us">We are a local company from Gainesville, Florida Founded in March 2016. OUr main focus has been meeting group, family, or business travel needs. </p>
  </div>
</div>
</div>

<hr class="style-four">

<div class="container" style="margin-top: 4%;">

  <h1 class="h2_about_us" style="border-bottom: 0px">Who is Bochitto Travel</h2>

  	    <p class="p_about_us">Loving mother and daughter who loves to help others fulfill their dream to travel and see all the beauty and majesty that the world has to offer.</p>

</div>




<%= render 'layouts/footer' %>
  </body>

</html>
