<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    
    <div class="center jumbotron">
      <h1>Travel Page Home</h1>

      <p>
        This isLOLA page for the Travel Project Team 3
      </p>
      // work will be done on this page

      <%= link_to "Contact Page!", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
