<% provide(:title, "post") %>
<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
</head>
<body>


<figure class="figure">
  <img src="https://www.cruisemapper.com/images/ports/392-large-5d3df0e15f6b1bda53b9149f04ed6d95.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

</body>
</html>