#mainImage {
	height: 500px;
    width: 100%;
	background-size: cover ;
	background-position: center;
	background-repeat: no-repeat;
	size: 60%;
	margin-top: 5px;

}
#Login {
  margin-right: 3px;
  color: black;
  border-style: none;
  font-family: normal;
}

.h2_about_us{
    text-align: center;
    font-weight: 600;
    font-variant: petite-caps;
    font-family: 'Cormorant Infant', serif;



}
.p_about_us{
  text-align: center;
  font-family: 'Cormorant', serif;
  font-size: larger;
  font-style: italic;
}



.About_us_image {
  width: 100%;
  border-top: 1px solid #170390;
  border-bottom: 1px solid #170390;
  resize: all;

}

.nav-item a {

  color: #163f5e;
  font-size: 16.5px;

}

.nav-item :hover {

text-decoration: none;
color:#170390;
background-color:#f8f9fa;

}

#submitButtonHome{

  float:right
}

#guest {

  width: 270px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: navy;
    font-size: initial;
}
#jumbtr1 {

  position:static;
  margin-top: -0.35%;
  margin-left: 0%;
  padding-top: 18px;
  width: 100%;
  opacity: 0.92;
  background-color: ivory;

  }

.cf {
  position:relative;
  height:281px;
  width:200px;
  margin:0 auto;

}

.cf img {

  border-top: 1px solid #170390;
  border-bottom: 1px solid #170390;
  position:absolute;
  width: 100%;
  height: 451px;
  margin-left: 0px;


  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

.cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 15s;
animation-direction: alternate;

}


img.photos {

	width: 31.3%;
	float: left;
	margin:1%;
	height: 187px;

}

aside {
    width: 24.5%;
    margin-top: 1em;
    margin-right: 2.5em;
    margin-left: 0px;
    float: right;
    font-style: italic;
    color: #29627e;
    min-width: 262px;
}

#photosdiv {
	width: 75%;
	}



input:-ms-input-placeholder {
  color: red;
  font-style: italic;
}

input:-moz-placeholder {
  color: red;
  font-style: italic;
}input:placeholder-shown {
  color: red;
  font-style: italic;
}

  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }


 hr {
 border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);

}

#test {
  text-align: center;
  height: 40px;
  list-style-type: none;
  position: sticky;
}

.wrapper {
  display: flex;
 float: right;
  height: 100vh;
  font-size: 10px;
}

.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #dd4b39;
}
.wrapper a:nth-child(2) {
  color: #4867AA;
}
.wrapper a:nth-child(3) {
  color: #1DA1F2;
}
.wrapper a:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  margin-left: 6%;
  margin-right: 2%;
  margin-top: 3%;
  width: 42%;
  padding: 10px;


}

/* Clear floats after the columns */
.row {

  display: table;
  clear: both;
  display: -ms-flexbox;


}

hr.style-four {
    width: 85%;
    height: 4px;
    box-shadow: inset 0 12px 12px -12px rgba(102, 0, 102, 1.5);
}

.box_about_us_contact_us {
     display: table-cell;
    width: 33%;
    height: 50px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-family: 'Cormorant Roboto';
    font-weight: 600;
    text-align: none;
    font-size: small;
}


#box{

  margin-left: 20px;
  text-decoration: none;
  background: transparent;
  border-radius:3px;
  transition:.2s all;
}
#box-wrap:hover #box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
#box-wrap:hover #box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  /*box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);*/
}


#post {
  display: inline-block;
  width: 20%;
  margin: 1em;
  min-width: 187.2px;

}

#post_deals {
  display: inline-block;
  width: 28%;
  margin: 1em;
  min-width: 187.2px;

}

#info{

     position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

#info h3 {

    margin-right: -15px;
    border-radius: 35px;
    text-align: center;
    margin-top: 20%;
    background: #472171c2;
    color: white;
    float: right;
    width: 64px;
    height: 64px;
    font-size: large;
    padding-top: 10px;
    font-weight: 800;
}

#info h4 {

      color: white;
    font-size: x-large;
    margin-left: -17.5px;
    text-align: -webkit-center;
    max-width: 152px;
    background: #663399c2;
}

#info_deals{

     position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

#info_deals h3 {

    margin-right: -15px;
    border-radius: 35px;
    text-align: center;
    margin-top: 20%;
    background: #f44336ab;
    color: white;
    float: right;
    width: 64px;
    height: 64px;
    font-size: large;
    padding-top: 10px;
    font-weight: 800;
}

#info_deals h4 {

      color: white;
    font-size: x-large;
    margin-left: -17.5px;
    text-align: -webkit-center;
    max-width: 152px;
    background: #663399c2;
}

.jumbotron2 {
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 5px #9E9E9E;
}

#post_deals button {

    margin-right: -20px;
    font-size: xx-small;
    width: 58px;
    height: 22px;
    margin-top: -9px;
}

.form_check {
    position: relative;
    display: inline-flex;
    padding-left: 1.25rem;
    width: 150px;
    margin-left: 25px;
    width: 200px;
  }

    .jumbotron_fluid {
    height: 125px;
    display: table;
    width: 70%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    background: #e9ecef;
    padding-top: 30px;
    padding-bottom: 30px;
}

label {
    width: 150px;
    display: inline-block;

  }

  .nav-pills .nav-link.active, .nav-pills .show>{
    color: #fff;
    background-color: #007bff;
    width: 155px;
    text-align: center;
    padding-top: 10px;
}


.style_image {
	width: 100%;
	height: 180px;
}

/*  Typewriter styling  */
.typestyleall {
	color: #000000;
  font-family: "gira-sans";
  /*font-size: 30px;*/
	font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 1.87px;
  line-height: 112px;
  width: 100%;
	padding-left: 5%;
  /*max-width: 800px;
  margin-left: 10px;*/
  margin-bottom: 0.7em;
  position: relative;
  z-index: 3;
	display: inline-block;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}
.typestyle {
	padding-left: 0%;
  text-decoration: underline;
	text-align: center;
	color: #ff2828;
	position: relative;
	/*margin-left: 5px;*/

}

.example_c {
    color: white !important;
    text-transform: uppercase;
    background: #439ddc9e;
    padding: 20px;
    border: 4px solid #3c0798 !important;
    border-radius: 6px;
    display: inline-block;
    font-size: large;
    font-weight: 600;
}

.example_c:hover {
    color: #ffffff !important;
    background: #2a3bffb0;
    border-color: #f6b93b03 !important;
    transition: all 0.4s ease 0s;
}

.sign_up{

 margin-right:20px;
 color: #163f5e;
 font-size: 16.5px;
}

.body_shadow {
    box-shadow: -60px -100px 100px -90px #000000, 60px -100px 100px -90px #000000;
    height: -webkit-fill-available;
}
/*#box_wrap > li:last-child {
     float:right
}

#box_wrap > li:nth-last-child(2) {
    float:right
}
*/

/****************************Sign UP Form Style**********************************************************/
