#mainImage {
	height: 500px;
    width: 100%;
	background-size: cover ;
	background-position: center;
	background-repeat: no-repeat;
	size: 60%;
	padding-top: 1px;
}

.cf {
  position:relative;
  height:281px;
  width:200px;
  margin:0 auto;

}

.cf img {
  position:absolute;
  width: 100%;
  height: 451px;
  margin-left: 0px;
  margin-top: 0px;
 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

.cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
}

#bg-light {
	background-color: #fff;
	/*height: 50px;*/
}

img.photos {
	
	width: 31.3%;
	float: left;
	margin:1%;
	height: 187px;

}

aside {
    width: 22%;
    margin-top: 0.6em;
    margin-right: 1.6em;
    margin-left: 1px;
    float: right;
    font-style: italic;
    color: #29627e;
}

#photosdiv {
	width: 75%;
	}


hr.hr--logo {
  border-top: solid light-blue 0.5px;
  margin-bottom: 35px;
  margin-top: 0;
}
hr.hr--logo:after {
  content: url( 'file:///C:/Users/Stalim/Desktop/logo49x38.png' );
  /* Controls the position of the logo */
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  /* Controls the whitespace around the symbol */
  padding: 20px;
  background: #fff;
}