<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><%= link_to "TravelTeam3", root_path %></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path, id: "logo" %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Admin", admin_path %></li>
      </ul>
    </div>
  </nav>
</header>
<!--<header class="ui secondary  menu">
  <a class="item">
    < %= link_to "Home", 'home' %>
  </a>
  <a class="item">
    < %= link_to "Contact", 'contact' %>
  </a>
  <a class="item">
    < %= link_to "Admin", 'admin' %>
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item active">
      Logout
    </a>
  </div>
</header>
-->
